@media (max-width: 410px) {
    .send-btn {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .tryAgain {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .container-button {
        flex-direction: column;
        height: 120px;
    }

    label[for="textSearch"] {
        margin-left: 0;
        margin-top: 10px;
    }

    .btn-label {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .addressForm {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .response-container {
        flex-direction: column;
        align-items: center;
    }

    .for-image {
        width: 100%;
    }       
    
    .for-text {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 1175px) {
    .romb {
        opacity: 0.2;
    }
}