@media (max-width: 1000px) {
	.navbar__wrap {
		justify-content: space-between;
	}

  	.menu {
    	display: none;
  	}

  	.hamb {
    	display: flex;
    	align-items: center;
  	}

  	.hamb__field {
    	cursor: pointer;
  	}

  	.bar {
    	display: block;
    	width: 30px;
    	height: 3px;
    	margin: 6px auto;
    	background-color: #000;
    	transition: 0.2s;
  	}

  	.popup {
    	position: fixed;
    	top: 90px;
    	left: -100%;
    	width: 100%;
    	height: 100%;
    	background-color: #fff;
    	z-index: 100;
    	display: flex;
    	transition: 0.3s;
  	}

  	.popup.open {
    	left: 0;
		top: 80px;
		z-index: 9999;
  	}

  	.popup .menu {
    	width: 100%;
    	height: 100%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: start;
  	}

  	.popup .menu li a:hover {
    	background-position: 0 100%;
  	}

  	.popup .menu li:last-child {
  		display: none;
  	}

  	.hamb__field.active .bar:nth-child(2) {
    	opacity: 0;
  	}

  	.hamb__field.active .bar:nth-child(1) {
    	transform: translateY(8px) rotate(45deg);
  	}

  	.hamb__field.active .bar:nth-child(3) {
    	transform: translateY(-8px) rotate(-45deg);
  	}

    .profile {
        margin: 0;
    }

    body.noscroll {
    	overflow: hidden;
  	}
}

@media (max-width: 520px) {
    .logo p {
        font-size: 30px;
    }

    .photoForm label span {
        font-size: 25px;
    }
}

@media (max-width: 440px) {
    .logo p {
        font-size: 25px;
    }

    .photoForm label span {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .logo p {
        font-size: 20px;
    }

    .photoForm label span {
        font-size: 18px;
    }
}